body {
	background-color: #424242;
}

.app {
	background: white url('../img/maps.jpg');
	/*display: flex;
	flex-direction: row-reverse;*/
	height: 667px;
	width: 375px;
}

.app.no-bg {
	background: white;
}

.header {
	background: red;
	height: 8.2rem;
}

.nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 3rem;
	padding: 0 2rem;
}

.content .nav img {
	display: block;
	width: 7.4rem;
}

.btn-main {
	background-color:  #48ae50;
	font-size: 1rem;
	padding: .4rem .4rem;
	margin-top: 1rem;
	width: 6.4rem;
}

.search-bar {
	position: absolute;
	left: 2.5rem;
	bottom: 3rem;
}

input[type="text"] {
	position: relative;
	width: 26rem;
	padding-right: 5rem;
}

input[type="submit"] {
	position: absolute;
	overflow: hidden;
	top: 0.1rem;
	right: 0;
	width: 5rem;
}

input.input-search {
	border: 2px solid #48ae50;
	line-height: 3.4rem;
	box-shadow: 0rem .3rem .5rem 0rem rgba(0, 0, 0, 0.35);
	padding-left: 1rem;
}

input.btn-search {
	margin-top: -0.1rem;
	height: 4rem;
	border-radius: 0 .5rem .5rem 0;
	border: 2px solid #48ae50;;
	box-shadow: none;
}

i.currentLoc {
	position: absolute;
	top: 50%;
	left: calc(50% - 25px);
	width: 50px;
	text-align: center;
	font-size: 7rem;
	color: #48ae50;
}