/* FONTS */

@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('hamburger/hamburger.css');

.base-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    font-weight: 300;
}
















